/* Styles */

.t-Button {
	margin: 4px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  border-radius: 3px;
  transition: background-color 0.17s, color 0.3s, box-shadow 0.27s, transform 0.07s ease;
}
.t-Button:hover {
  transform: scale(1.05);
  border-color: rgb(56, 56, 56);
  background-color: rgb(117, 113, 117);
  box-shadow: 0px 5px 7px rgba(117, 116, 117, 0.445);
  color: white;
}
.t-Button-Purple {
	border-color: rgb(140, 43, 231);
	background-color: rgb(189, 78, 233);
	color: white;
}
.t-Button-Purple:hover {
	border-color: rgb(36, 2, 160);
	background-color: rgb(159, 6, 219);
	box-shadow: 0px 5px 7px rgba(159, 2, 173, 0.445);
}
.t-Button-Red {
	border-color: rgb(202, 42, 42);
	background-color: rgb(252, 104, 104);
	color: white;	
}
.t-Button-Red:hover {
	border-color: rgb(163, 35, 35);
	background-color: rgb(247, 66, 66);
	box-shadow: 0px 5px 7px rgba(243, 6, 6, 0.445);
}
.t-Button-Blue {
	border-color: rgb(56, 119, 255);
	background-color: rgb(38, 150, 255);
	color: white;	
}
.t-Button-Blue:hover {
	border-color: rgb(14, 64, 170);
	background-color: rgb(66, 123, 247);
	box-shadow: 0px 5px 7px rgba(6, 117, 243, 0.445);
}
.t-Button-Yellow {
	border-color: #f8c230;
	background-color: #fff370;
	color: black;	
}
.t-Button-Yellow:hover {
	border-color: #a85100;
	background-color: #ffe642;
	box-shadow: 0px 5px 7px rgba(255, 153, 51, 0.445);
	color: black;
}
.t-Button-Green {
	border-color: #008015;
	background-color: #5dee7a;
	color: black;	
}
.t-Button-Green:hover {
	border-color: #077000;
	background-color: #05b310;
	box-shadow: 0px 5px 7px rgba(29, 203, 39, 0.445);
	color: white;
}
.t-Button-Pink {
	border-color: #b30092;
	background-color: #ff80d0;
	color: black;
}
.t-Button-Pink:hover {
	border-color: #99008c;
	background-color: #df5dce;
	box-shadow: 0px 5px 7px rgba(255, 107, 235, 0.445);
	color: white;
}
.t-Button-Brown {
	border-color: #ac5f06;
	background-color: #c58934;
	color: white;
}
.t-Button-Brown:hover {
	border-color: #361e02;
	background-color: #8a6128;
	box-shadow: 0px 5px 7px rgba(202, 144, 78, 0.445);
	color: white;
}
.t-Button-Orange {
	border-color: #b34509;
	background-color: #ff813d;
	color: white;
}
.t-Button-Orange:hover {
	border-color: #763205;
	background-color: #e15c23;
	box-shadow: 0px 5px 7px rgba(202, 144, 78, 0.445);
	color: white;
}
.t-Button-Black {
	border-color: #000000;
	background-color: #4f4f4f;
	color: white;
}
.t-Button-Black:hover {
	border-color: #0f0f0f;
	background-color: #363636;
	box-shadow: 0px 5px 7px rgba(70, 70, 70, 0.445);
	color: white;
}
.t-Button-White {
	border-color: #4a4a4a;
	background-color: #f7f7f7;
	color: black;
}
.t-Button-White:hover {
	border-color: #333333;
	background-color: #ffffff;
	box-shadow: 0px 5px 7px rgba(190, 190, 190, 0.445);
	color: black;
}
.t-Button-CadetBlue {
	border-color: #365254;
	background-color: #5f9ea0;
	color: white;
}
.t-Button-CadetBlue:hover {
	border-color: #365254;
	background-color: #447274;
	box-shadow: 0px 5px 7px rgba(64, 114, 116, 0.445);
	color: white;
}

.t-Input {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 5px;
	font-size: 15px;
	border: 2px solid transparent;
	border-color: black;
	border-radius: 3px;
	caret-color: rgb(46, 195, 253);
	background-color: rgb(240, 240, 240);
	transition: 0.17s box-shadow ease-in, 0.16s background-color ease-in;
}
.t-Input:focus {
	outline: none;
	box-shadow: 0px 2px rgba(159, 159, 159, 0.98);
	background-color: rgb(255, 255, 255);
}
.t-Input-Red {
	background: #ead1d1;
	caret-color: #ff8a8a;
}
.t-Input-Red:focus {
	box-shadow: 0px 2px rgba(194, 87, 87, 0.98);
	background-color: #ffdbdb;
}
.t-Input-Yellow {
	background: #f5f2d6;
	caret-color: #f9be58;
}
.t-Input-Yellow:focus {
	box-shadow: 0px 2px rgba(234, 213, 88, 0.98);
	background-color: #fff7cc;
}
